{% set sSortig = ProductList.getSorting() %}

<form class="store__sorting">
	<span>Сортировка по:</span>
    <div class="store__ul">
    	<div class="store__list">
        <select class="form-control sorting__select" name="sorting" aria-label="{{ label }}">
            <option class="store__list-li" value="new" {% if sSortig == 'new' %}selected{% endif %}>Новые</option>
            <option class="store__list-li" value="price|asc" {% if sSortig == 'price|asc' %}selected{% endif %}>По цене убывания</option>
            <option class="store__list-li" value="price|desc" {% if sSortig == 'price|desc' %}selected{% endif %}>По цене возрастания</option>
        </select>
    	</div>
    </div>
</form>
