[viewBag]

[staticMenu]
code = "top-menyu"

[staticMenu staticMenu2]
code = "header-menu"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 0
==
<header class="header">
            <div class="container">
                <div class="header__head">
<ul class="header__languages">
    <li>Русский</li>
</ul>
<div class="header__number">Контактный номер:<a href="tel:{{ this.theme.contact_phone }}">{{ this.theme.contact_phone }}</a></div>

<div class="header__crumbs">
{% for item in staticMenu.menuItems %}
    <a href="{{ item.url }}" >{{ item.title }}</a>
{% endfor %}
</div>
                
</div>

                <nav class="header__nav">
                    <div class="hamburger_trigger">
                        <span></span>
                    </div>
                    {% component 'searchInput' %}
                        <!-- <input type="search" placeholder="Искать товар" class="header__search-input-desctop">
                        <button class="header__search-button-desctop"><span class="icon-search"></span></button> -->
                      
                    </form>

                    <div class="header__logo">
                        <img src="{{ 'assets/images/mainPage/header/fullLogo.svg'|theme }}" alt="logo">
                    </div>
                    <div class="_ajax_cart_link_header_wrapper col-12 col-lg-auto mb-4 mb-lg-0">
                    
                {% partial 'product/cart-link-header/cart-link-header' %}
            </div>
                 
                </nav>
                <ul class="header__navigation">
                    <li>
                        <a href="/" class="header__home-link"><span class="icon-home"></span></a>
                    </li>
                    {% for item in staticMenu2.menuItems %}
                    <li class="header__list-desktop">
                    {% if item.items %}
     
                        <a href="{{ item.url }}" class="header__link-desktop">{{ item.title }}</a>
            
                        <ul class="header__drop">
                        {% for child in item.items %}
                            <li class="header__sublist-desktop">
                                <a href="{{ child.url }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <a href="{{ item.url }}" class="header__link-desktop">{{ item.title }}</a>
                    {% endif %}
                    </li>
                    {% endfor %}
                </ul>

            </div>

            <div class="header__underline"></div>

            
        </header>