{% spaceless %}

{# @var obActiveCategory \Lovata\Shopaholic\Classes\Item\CategoryItem #}

{# Get product collection #}

{% if obActiveCategory.name %}

{% set obProductList = ProductList.make().active().sort(ProductList.getSorting()).category(obActiveCategory.id, true) %}

{% else %}

{% set obProductList = ProductList.make().active().sort(ProductList.getSorting()) %}

{% endif %}
{% if obBrand.isNotEmpty() %}
    {% set obProductList = obProductList.brand(obBrand.id) %}
{% endif %}

{# Get array with pagination buttons #}
{% set iPage = Pagination.getPageFromRequest() %}

{# Apply pagination to product collection and get array with product items #}
{% set arProductList = obProductList.page(iPage, Pagination.getCountPerPage()) %}
{% if obActiveCategory.name %}
<title>{{ obActiveCategory.name }}</title>
{% else %}
<title>Все товары</title>
{% endif %}
<div class="store__wrap">
        <div class="store__head">
            {% if obActiveCategory.name %}
                <h2>{{obActiveCategory.name}}</h2>
            {% else %}
                <h2>Все товары</h2>
            {% endif %}
                {% partial 'product/catalog-panel/catalog-panel' obActiveCategory=obActiveCategory label='catalog-product-list' %}
              </div>
{% if arProductList is not empty %}
    <div class="store__products">
        {% for obProduct in arProductList %}
            
                {% partial 'product/product-card/product-card' obProduct=obProduct obActiveCategory=obActiveCategory %}

        {% endfor %}
    </div>
    {% partial 'navigation/pagination/pagination' iCount=obProductList.count() pagingLabel='catalog-product-list' %}
{% else %}
    <div>Продуктов нет</div>
{% endif %}
{% endspaceless %}
</div>

