[viewBag]
==
<section class="footer">
            <div class="footer__services">
                <div class="container">
                    <div class="footer__services-group">
                        <div class="footer__service">
                            <span class="icon-van footer__icon"></span>
                            <span class="footer__name">доставка по кр</span>
                        </div>
                        <div class="footer__service">
                            <span class="icon-headset footer__icon"></span>
                            <span class="footer__name">поддержка клиентов</span>
                        </div>
                        <div class="footer__service">
                            <span class="icon-payment-method footer__icon"></span>
                            <span class="footer__name">онлайн оплата</span>
                        </div>
                        <div class="footer__service">
                            <span class="icon-undo footer__icon"></span>
                            <span class="footer__name">возврат обмен</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer__foot">
                <div class="container">
                    <div class="footer__navs">
                        <ul class="footer__nav">
                            <li class="footer__link-title">Руководство по закупкам</li>
                            <li class="footer__list">
                                <a href="#">Блог</a>
                            </li>
                            <li class="footer__list">
                                <a href="#">Вопросы и ответы</a>
                            </li>
                            <li class="footer__list">
                                <a href="#">Оплата</a>
                            </li>
                            <li class="footer__list">
                                <a href="#">Политика возврата</a>
                            </li>
                        </ul>
                        <ul class="footer__nav">
                            <li class="footer__link-title">советы</li>
                            <li class="footer__list">
                                <a href="#">Адреса</a>
                            </li>
                            <li class="footer__list">
                                <a href="#">Скидки</a>
                            </li>
                            <li class="footer__list">
                                <a href="#">Информация</a>
                            </li>
                        </ul>
                        <ul class="footer__nav">
                            <li class="footer__link-title">Информация</li>
                            <li class="footer__list">
                                <a href="#">О нас</a>
                            </li>
                            <li class="footer__list">
                                <a href="#">Связаться с нами</a>
                            </li>
                            <li class="footer__list">
                                <a href="#">Условия</a>
                            </li>
                        </ul>
                        <ul class="footer__nav footer__form-ul">
                            <li class="footer__link-title">Подписаться на рассылку</li>
                            <li>
                                <form action="#" class="footer__email">
                                    <input type="email" class="footer__input" placeholder="Email">
                                    <button class="footer__btn">Подписаться</button>
                                </form>
                            </li>
                        </ul>
                        <ul class="footer__nav footer__form-social">
                            <li class="footer__link-title">Подписывайтесь на нас</li>
                            <li class="footer__socialnets">
                                <a href="{{ this.theme.facebook_link }}" class="footer__social facebook"> <span
                                        class="icon-facebook footer__social-icon"></span></a>
                                <a href="{{ this.theme.instagram_link }}" class="footer__social instagram"><span
                                        class="icon-instagram footer__social-icon"></span></a>
                            </li>
                            <li>
                                <img class="footer__img" src="{{ 'assets/images/mainPage/footer/visa.png'|theme }}" alt="#">
                                <img class="footer__img" src="{{ 'assets/images/mainPage/footer/mc.png'|theme }}" alt="#">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__line"></div>
                <div class="container">
                    <img src="{{'assets/images/mainPage/footer/logoFooter.svg'|theme }}" alt="#" class="footer__logo">
                    
                    <div class="footer__contacts">
                        <div class="footer__contact">
                            <div class="footer__pic"><span class="icon-placeholder"></span></div>
                            <div>{{ this.theme.contact_address }}</div>
                        </div>
                        <div class="footer__contact">
                            <div class="footer__pic"><span class="icon-telephone"></span></div>
                            <a href="tel:{{ this.theme.contact_phone }}" class="footer__tel">{{ this.theme.contact_phone }}</a>
                            
                        </div>
                        <div class="footer__contact">
                            <div class="footer__pic"><span class="icon-mail"></span></div>
                            <a href="mailto:{{ this.theme.contact_email }}" class="footer__tel">{{ this.theme.contact_email }}</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footer__rights">{{ this.theme.copyright }}</div>
        </section>