[staticMenu HeaderStaticMenu]
code = "header-menu"

[staticPage]
useContent = 1
default = 0

[staticMenu FooterStaticMenu]
code = "footer-menu"

[staticBreadcrumbs]
==
<?php
function onInit()
{
    $this['path_css'] = mix('css/common.css', 'themes/'.\Cms\Classes\Theme::getActiveTheme()->getDirName().'/assets');
    $this['path_js'] = mix('js/common.js', 'themes/'.\Cms\Classes\Theme::getActiveTheme()->getDirName().'/assets');
    $this['cart_is_available'] = false;

    /**
     * Check if Cart component has been registered and autoload it
     **/

    $obManager = \Cms\Classes\ComponentManager::instance();
    if ($obManager->hasComponent('Lovata\OrdersShopaholic\Components\Cart')) {
        $this['cart_is_available'] = true;
        $this->addComponent('Lovata\OrdersShopaholic\Components\Cart', 'Cart', []);
    }

    if ($obManager->hasComponent('Lovata\MightySeo\Components\SeoToolbox')) {
        $this['seo_toolbox_is_available'] = true;
        $this->addComponent('Lovata\MightySeo\Components\SeoToolbox', 'SeoToolbox', []);
    }
}
?>
==
{% spaceless %}
<!doctype html>
<html lang="en">
<head>
    {% partial 'header/head' %}
    
    {% styles %}
    {% if seo_toolbox_is_available %}
        {% placeholder seo_tags default %}
            {% component 'SeoToolbox' %}
        {% endplaceholder %}
    {% endif %}
</head>
{% partial 'header/header' %}
<body class="body" data-cart-is-available="{{ cart_is_available }}">
    <div class="faq">
	<div class="container">
	{% component 'staticBreadcrumbs' %}
    <div class="site-content">
        {% page %}
    </div>
    </div>
    </div>
    {% partial 'footer/footer' %}
    {% partial 'footer/foot' %}
</body>
</html>
{% endspaceless %}